<!-- Uncomment below code which does not work -->
<!-- =============================================================== -->
<!-- <p>servers works!</p>
<app-server></app-server>
<app-server></app-server>
<button type="button" class="btn btn-primary" [disabled]="!allowNewServers">Add New Server</button> -->

<!-- This code just works fine. Comment out below and uncomment out above to see the weirdness -->
<!-- ==================================================================================================== -->
<p>servers works!</p>
<button type="button" class="btn btn-primary" [disabled]="!allowNewServers">Add New Server</button>
<app-server></app-server>
<app-server></app-server>




